@import "tailwindcss";
@plugin "daisyui";


* {
  font-family: "Outfit", sans-serif;
}


:root {
  --color-primary: #070d1b; /* your primary color */
  --color-primary-foreground: #fff; /* text color for primary buttons */
}
